{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 24, "knowledge_revision": 51, "git_revision": "187fa539d594695e3ea4262c32c8499b44dff515", "hash": "b4a27ad1620893555fc08fa4d8245c42", "format-version": 4, "code-base-name": "default", "filename": "notes_backend_workspace/notes_backend/requirements.txt", "revision_history": [{"51": "187fa539d594695e3ea4262c32c8499b44dff515"}]}